main/default/flows/DY_STF_LOOP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>270</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>recordcollection_NewTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>record_newTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count</name>
        <label>Count</label>
        <locationX>534</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>number_count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_task_to_Alert_Deal_Owner</name>
        <label>Prepare task to Alert Deal Owner</label>
        <locationX>270</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>record_newTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Test Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_newTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opps.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_newTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_newTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_newTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opps.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Count_of_tasks</name>
        <label>Check Count of tasks</label>
        <locationX>446</locationX>
        <locationY>1476</locationY>
        <defaultConnector>
            <targetReference>Test_Subflow_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>number_count</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Acc</targetReference>
            </connector>
            <label>Outcome 1 of Decision 2</label>
        </rules>
        <rules>
            <name>Greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>number_count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_Subflow</targetReference>
            </connector>
            <label>Greater</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Decision</name>
        <label>Test Decision</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Create_tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Role_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UserRoleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opps</targetReference>
            </connector>
            <label>Role is null</label>
        </rules>
        <rules>
            <name>Role_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UserRoleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Leads</targetReference>
            </connector>
            <label>Role is not null</label>
        </rules>
    </decisions>
    <interviewLabel>DY STF + LOOP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DY STF + LOOP</label>
    <loops>
        <name>Count_loop</name>
        <label>Count loop</label>
        <locationX>446</locationX>
        <locationY>1176</locationY>
        <collectionReference>Get_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Count_of_tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Opps</name>
        <label>Loop Opps</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prepare_task_to_Alert_Deal_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_tasks</name>
        <label>Create tasks</label>
        <locationX>446</locationX>
        <locationY>960</locationY>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
        <inputReference>recordcollection_NewTasks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Created_Acc</name>
        <label>Created Acc</label>
        <locationX>50</locationX>
        <locationY>1584</locationY>
        <faultConnector>
            <targetReference>Opp</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Opp</name>
        <label>Opp</label>
        <locationX>314</locationX>
        <locationY>1692</locationY>
        <inputAssignments>
            <field>CloseDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Leads</name>
        <label>Get Leads</label>
        <locationX>446</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opps</name>
        <label>Get Opps</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>446</locationX>
        <locationY>1068</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_loop</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Test_Decision</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-02-19</startDate>
            <startTime>09:37:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Test_Subflow</name>
        <label>Test Subflow</label>
        <locationX>578</locationX>
        <locationY>1584</locationY>
        <flowName>DY_Subflow_1</flowName>
    </subflows>
    <subflows>
        <name>Test_Subflow_2</name>
        <label>Test Subflow 2</label>
        <locationX>842</locationX>
        <locationY>1584</locationY>
        <flowName>Test_Wait_Element</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>number_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>record_newTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>recordcollection_NewTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
